body {
    font-family: 'BIZ UDPGothic';
    background: orange
}

.forgot-pw{
    background-color: rgb(255, 171, 15);
    background-size: cover;
    text-align: center;
    margin: auto;
    margin-top: 10vh;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgb(139, 67, 0);
}

h2{
    font-weight: bolder;
    font-size: 35px;
}

#email-input{
    margin-bottom: 8px;
    width: 260px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: black;
    padding-left: 5px;
    font-weight: bold;
}

#email-input::placeholder{
    color: black;
    font-size: 16px;
    font-weight: 100;
    opacity: 0.6;
}

#email-input:focus{
    outline: none;
    box-shadow: 5px 5px 5px rgb(139, 67, 0);
}

#submit-btn{
    width: 150px;
    height: 35px;
    border-radius: 5px;
    background-color: white;
    border: none;
    font-weight: 900;
    margin: 20px;
    cursor: pointer;
}

#submit-btn:hover{
    width: 150px;
    height: 35px;
    border-radius: 5px;
    background-color: orange;
    border: none;
    font-weight: 900;
    margin: 20px;
    box-shadow: 5px 5px 5px rgb(83, 54, 0);
}
